.button {
    font: inherit;
    border: 1px solid #005f03;
    background: #005f03;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #118823;
    border-color: #118823;
  }
  
  .button:focus {
    outline: none;
  }